typing_extensions>=3.7.4
multidict>=5.1.0
yarl>=1.6.3
frozenlist>=1.1.1
attrs>=21.2.0
async_timeout>=4.0.0
aiosignal>=1.1.2
aiohttp==3.7.4
nest_asyncio
orjson
numpy
scipy
pandas
networkx
requests
pyalex
python-louvain